%h1
  Roster Management

%h2
  (pre-alpha)

%a{:href => "/manage_employees"} Manage employees
%a{:href => "/manage_tasks"} Manage tasks
%a{:href => "/solve_problem"} Solve current problem
%a{:href => "/show_last_result"} Show last solution

