!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    -#%link(rel="stylesheet" href="/css/stylesheets/screen.css")

    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")

    %title
      AwesomePage

  %body
    %a{:href => "/"} home

    =yield