!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %link(rel="stylesheet" href="/css/stylesheets/screen.css")

    %script(type="text/javascript" src="/js/jquery-1.7.1.min.js")
    %script(type="text/javascript" src="/js/jquery.json-2.3.min.js")
    %script(type="text/javascript" src="/js/scripts.js")

    %title
      AwesomePage

    =snippets.google_analytics

  %body
    %a{:href => "/"} Home
    %a{:href => "/view/employees/workload"} Manage employee task workload
    %a{:href => "/view/employees/quantities"} Manage employee task quantity
    %a{:href => "/view/tasks"} Manage tasks
    %a{:href => "/view/solution"} Calculate solution

    =yield
